apiVersion: v1
kind: Pod
metadata:
  name: ${SERVICE_NAME}-pod
  namespace: default
  labels:
    app: ${SERVICE_NAME}-pod
spec:
  containers:
    - name: ${SERVICE_NAME}
      image: khaosdoctor/imasters-node-http-server:${IMAGE_TAG}
      ports:
        - containerPort: ${PORT}
